flows_Rohiths-MacBook-Air.local.json
[{"id":"5f68862f.2334e8","type":"tab","label":"Google Search"},{"id":"91c1702e.63af7","type":"subflow","name":"googleSearchBot","info":"","in":[{"x":53,"y":65,"wires":[{"id":"c38c171f.ebd038"}]}],"out":[{"x":810,"y":59,"wires":[{"id":"5294fc7e.424c64","port":0}]}]},{"id":"eb0b9325.d32e1","type":"inject","z":"5f68862f.2334e8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":34,"wires":[["58a7683a.f45748"]]},{"id":"58a7683a.f45748","type":"launch-website","z":"5f68862f.2334e8","url":"http://www.google.com/ncr","x":272.5,"y":34,"wires":[["c38654de.b6dde8"]]},{"id":"c38654de.b6dde8","type":"set-element-text","z":"5f68862f.2334e8","xpath":"//*[@id=\"lst-ib\"]","text":"automation using node red","x":466.5,"y":35,"wires":[["e3a57c9.db8888"]]},{"id":"e3a57c9.db8888","type":"click-element","z":"5f68862f.2334e8","xpath":"//*[@id=\"_fZl\"]","x":657.5,"y":36,"wires":[["90b8a9a5.6894a8"]]},{"id":"90b8a9a5.6894a8","type":"get-element-text","z":"5f68862f.2334e8","xpath":"//*[@id=\"rso\"]/div/div/div[1]/div/div/h3/a","variable":"searchResult","x":447.5,"y":159,"wires":[["ac38d28.ed44a3"]]},{"id":"ac38d28.ed44a3","type":"close-website","z":"5f68862f.2334e8","x":664.5,"y":156,"wires":[["6c3a4b62.afdf04"]]},{"id":"6c3a4b62.afdf04","type":"debug","z":"5f68862f.2334e8","name":"","active":true,"console":"false","complete":"output","x":850,"y":153,"wires":[]},{"id":"c38c171f.ebd038","type":"set-element-text","z":"91c1702e.63af7","xpath":"//*[@id=\"lst-ib\"]","text":"automation using node red","x":210,"y":60,"wires":[["cf6f47c2.275ea8"]]},{"id":"cf6f47c2.275ea8","type":"click-element","z":"91c1702e.63af7","xpath":"//*[@id=\"_fZl\"]","x":406,"y":60,"wires":[["5294fc7e.424c64"]]},{"id":"5294fc7e.424c64","type":"get-element-text","z":"91c1702e.63af7","xpath":"//*[@id=\"rso\"]/div/div/div[1]/div/div/h3/a","variable":"searchResult","x":615,"y":59,"wires":[[]]},{"id":"c50345e6.664c58","type":"inject","z":"5f68862f.2334e8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":362,"wires":[["f81c93b4.934d"]]},{"id":"f81c93b4.934d","type":"launch-website","z":"5f68862f.2334e8","url":"http://www.google.com/ncr","x":305.5,"y":362,"wires":[["ab35dc72.d4cab"]]},{"id":"ab35dc72.d4cab","type":"subflow:91c1702e.63af7","z":"5f68862f.2334e8","x":514.5,"y":363,"wires":[["835d90b0.ca145"]]},{"id":"835d90b0.ca145","type":"close-website","z":"5f68862f.2334e8","x":718,"y":364,"wires":[["45a2a383.2145ec"]]},{"id":"45a2a383.2145ec","type":"debug","z":"5f68862f.2334e8","name":"","active":true,"console":"false","complete":"output","x":908.5,"y":362,"wires":[]}]